/* Alkoto.css */

/* Stílus a teljes komponens számára */
* {
  box-sizing: border-box;
}
.summary-section {
  font-family: "Arial", sans-serif;
  margin: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  text-align: center;
}

.summary-section header {
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
}
.seged {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  min-width: 1000px;
}

/* Fejléc stílusok */

/* Felső rész stílusok */
.egyAlkoto {
  display: flex;
  /*justify-content: space-around;*/
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.adatok {
  text-align: left;
  overflow: hidden; /* Hozzáadott sor */
  word-wrap: break-word; /* Hozzáadott sor */

  box-sizing: border-box;
  width: 100%; /* Hozzáadott sor */

  /*   padding-left: 5%; */
}

.adatok h4 {
  color: #333;
}
.felsoresz {
  flex: 1;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%; /* Hogy kitöltse a teljes szélességet */
  margin-bottom: 20px;
  max-width: 600px;
}

.alkotokep {
  max-width: 200px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.alkotokep img {
  width: 100%;

  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Alsó rész stílusok */
.alkBemutat p {
  text-align: justify;
  color: #666;
  max-width: 600px;
  font-size: 18px;
  /* margin-right: 20px;*/
}

@media screen and (max-width: 700px) {
  .felsoresz {
    flex-direction: column;
    align-items: center;
  }

  .alkBemutat p {
    padding: 10px;
  }

  .felsoresz {
    padding: 0;
  }

  .seged {
    min-width: 500px;
  }
}

@media screen and (max-width: 500px) {
  .felsoresz {
    padding: 0;
  }
  .seged {
    min-width: 300px;
  }
}
