.nevek {
  padding: 20px;
  justify-content: space-around;
  text-align: left;
  margin-bottom: 30px; /* Opcionális: növelheted vagy csökkentheted a távolságot az összegzések között */
}

.leiras {
  padding: 20px;
  max-width: 600px;
  font-size: 18px;
  margin-right: 20px;
  text-align: left;
}
h3 {
  text-align: left;
}

.nevek ul li {
  list-style: none;
  padding-left: 0;
}
ul {
  padding-left: 0;
}
.nevek ul li a {
  text-decoration: none;
  color: black;
}
.nevek ul li a:hover {
  color: red;
}

.galeria {
  width: 700px;
  border: 15px;
}

.videok {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.kepgaleria {
  display: flex;
  justify-content: center;
  align-items: center;
}
