* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {

  background-image:url("https://media.istockphoto.com/id/1059274406/photo/abstract-blur-softness-beauty-pink-and-blush-colorful-image-gradient-with-dark-edge-effect.webp?b=1&s=170667a&w=0&k=20&c=bGwPsl8b9XL_09wIOuRmvZlYtbz1x4eucwXdlRUMMtE=") ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
 
   
  
}


.summary-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  flex-direction: column;
  text-align: center;
 
}
.tarolo,
.cont,
.seged {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  min-width: 1000px;
  background-color: #fbeae0  ; 
}
